<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="index.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Welcome to Music Store</title>
	<script type="text/javascript">
	function goTo(page){
		if (page=='index')
		window.location='/';
		else {
			window.location='/'+page;
		}
	}
	
	function addRow(id){
	    var tbody = document.getElementById
	(id).getElementsByTagName("TBODY")[0];
	    var row = document.createElement("TR")
	    var td1 = document.createElement("TD")
	    td1.appendChild(document.createTextNode("column 1"))
	    var td2 = document.createElement("TD")
	    td2.appendChild (document.createTextNode("column 2"))
	    row.appendChild(td1);
	    row.appendChild(td2);
	    tbody.appendChild(row);
	  }
	
	</script>
</head>

<body>
	<div class="container">
		<div align="center" class="header">
			<h1>Music Store</h1>
			<div align="left" style="background:#F93; padding:8px">
				<div>
					<span width="100" class="link" onClick="goTo('index')">HOME</span>
					<span width="100" class="link" onClick="goTo('top')">TOP</span>
					<span width="100" class="link" onClick="goTo('song')">SONGS</span>
					<span width="100" class="link" onClick="goTo('album')">ALBUNS</span>
					<span width="100" class="link" onClick="goTo('merch')">MERCHANDISE</span>

					<div style="float:right">
						<form name="searchForm" action="/search" method="post">
							<span> SEARCH </span><input type="text" name="term" style="border-style:double" />
							<select name="option">
								<option value="album">Albums</option>
								<option value="artist">Artists</option>
								<option value="merch">Merchandise</option>
								<option value="song">Songs</option>
							</select>
							<input type="submit" value="Go">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div align="center" class="content">
			<!-- !LOGGED_IN -->
			<% if @logged %>
			<div style="background:#EEE; float:left;width:20%">
				<h3>Welcome <%= session[:id] %>!!</h3><br />
				<a href="/logout">Logout</a>
			</div>
			<% else %>
			<div style="background:#EEE; float:left;width:20%;">
				<form action="/login" method="post" accept-charset="utf-8">
					<h1>Login</h1>
					<h3>Username</h3><input type="text" name="username" />
					<h3>Password</h3><input type="password" name="password"/><br />
					<input type="submit" value="Login">
					<br />
					<a href="/register">Not Registered?</a>
					<br />
				</form>
			</div>
			<% end %>
			<!-- Cenas -->
			<div style="background:#CCC; float:left;width:60%;">
				<h1>Recently Added Items</h1><br /><br /><br /><br /><br /><br /><br />
				<h1>User Recommendations</h1>
				<input type="button" value="Add Row" onClick="addRow('orders');" />
			</div>
			<!-- Shopping Cart -->
			<div style="background:#DDD; float:left;width:20%;">
				<h1>Shopping Cart</h1>
				<table id="orders">
					<tbody>
						
					</tbody>
				</table>
			</div>
		</div>
		<div align="center" class="footer">
			Copyright © 2010 - Guilherme Simões, João Penetra, Ricardo Bernardino
		</div>
	</div>
</body>
</html>
