@charset "UTF-8";
/* CSS Document */
body {
  background:#CCC;
}

h1 {
	color:#fff;
	font-weight:bold;
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	tex-decoration:none;
}

info{
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align:justify;
	color:#000;
}

logo{
	color:#fff;
	font-weight:bold;
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	tex-decoration:none;
}

.container {
	/*width:80%;
	margin-left:10%;
	margin-right:10%;*/
	background:#CCC;
	margin: 0 auto;
}

.header {
	background:#000;
	text-decoration:none;
	cursor:pointer;
	-user-select:none;
	-moz-user-select: none;
   	-khtml-user-select: none;
}

.content {
	background:#EEE;
}

.head {
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	color:#333333;
	-user-select:none;
	-moz-user-select: none;
   	-khtml-user-select: none;
}


.headline{
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size: 22px;
	text-align:center;
	color:#000;
}

.headlinelink{
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size: 22px;
	text-align:center;
	color:#000;
}
.headlinelink:hover{
	color:#fff;
}


.subhead{
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-decoration:none;
	text-align:center;
	color:#000;
}
.subheadlink{
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-decoration:none;
	text-align:center;
	color:#000;
}
.subheadlink:hover{
	color:#fff;
}

.items{
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-align:center;
	color:#000;
}

.link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	background:#EEE;
	color:#000;
	padding:5px;
	cursor:pointer;
}

.link2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	background:#CCE;
	color:#000;
	padding:5px;
	cursor:pointer;
}


.label {
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#000;

}

.search {
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#000;
	font-size:15px;
}
.search:hover{
	color:#fff;
}


.list{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#000;
	font-size:13px;
}
#footer {
	width:98%;
	clear:both;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	background:#CCC;
	padding:5px;
	position:fixed;
	bottom:0px;
	cursor:auto;
	-user-select:none;
	-moz-user-select: none;
   	-khtml-user-select: none;
}
